/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

/* global css */
:root {
  --main-color: #a800a8;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --white: #fff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
  font-family: "Kaushan Script", cursive;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

.btn-1 {
  background-color: var(--main-color);
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  transition: all 0.5s ease;
}

.btn-1:hover {
  color: var(--main-color);
  background-color: var(--white);
}

.btn-2 {
  background-color: var(--white);
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  color: var(--main-color);
  font-size: 16px;
  text-transform: capitalize;
  box-shadow: var(--shadow-black-100);
  font-weight: 500;
  transition: all 0.5s ease;
}

.btn-2:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.section-padding {
  padding: 80px 0;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h4 {
  font-size: 25px;
  font-weight: 700;
  color: var(--black-900);
  text-transform: capitalize;
  text-align: center;
}

.section-title h2 {
  font-size: 30px;
  color: var(--black-900);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.section-title h2 span {
  color: var(--main-color);
}

.owl-carousel .owl-dots {
  padding: 0 15px;
  text-align: center;
  margin-top: 20px;
}

.owl-carousel button.owl-dot {
  height: 6px;
  width: 24px;
  background-color: #dddddd;
  display: inline-block;
  margin: 0 4px;
  border-radius: 5px;
}

.owl-carousel button.owl-dot.active {
  background-color: var(--main-color);
}

/* navbar */
.navbar {
  background-color: var(--white);
  padding: 30px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease;
}

.navbar.navbar-shrink {
  padding: 20px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar > .container {
  padding: 0 15px;
}

.navbar .navbar-brand {
  font-size: 30px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
}

.navbar .nav-item {
  margin-left: 35px;
}

.navbar .nav-item .nav-link {
  color: var(--black-400);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}

.navbar .nav-item .nav-link::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  left: 50%;
  top: -45px;
  transform: translateX(-50%);
  transition: all 0.3s ease-out 0s;
}

.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover {
  color: var(--main-color);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  height: 45px;
}
/* home section */
.header-content {
  background-color: #fbfbfb;
  height: 800px;
  padding-top: 110px;
  position: relative;
  overflow: hidden;
}
#parallax {
  position: absolute;
  height: 100%;
  width: 100%;
}
.header-shape {
  position: absolute !important;
}
.header-shape.shape-one {
  top: 4.5% !important;
  left: 0 !important;
}
.header-shape.shape-two {
  top: 2.5% !important;
  left: 20% !important;
}
.header-shape.shape-three {
  top: 3% !important;
  left: 40% !important;
}
.header-shape.shape-fore {
  top: 8% !important;
  right: 7.6% !important;
  left: auto !important;
}
.header-shape.shape-five {
  right: 30px !important;
  bottom: 36% !important;
  left: auto !important;
  top: auto !important;
}
.header-shape.shape-six {
  top: 44% !important;
  left: 13% !important;
  transform: translateY(-50%);
}
.header-shape.shape-seven {
  left: 30px !important;
  bottom: 10% !important;
  top: auto !important;
}
.header-shape.shape-eight {
  left: 90px !important;
  bottom: 140px !important;
  top: auto !important;
}
.header-shape.shape-nine {
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 28px !important;
  top: auto !important;
}
.header-shape.shape-ten {
  right: 30px !important;
  bottom: 10% !important;
  left: auto !important;
  top: auto !important;
}
.home-text h4 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 8px;
  color: var(--main-color);
}
.home-text h1 {
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 8px;
  color: var(--black-900);
}
.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: var(--black-400);
  font-weight: 300;
  padding-bottom: 30px;
}
.home-img {
  max-width: 430px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.home-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 82%;
  border: 20px solid var(--main-color);
  border-bottom: none;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.home-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  background-color: var(--main-color);
  bottom: 50px;
  left: 0;
  z-index: 11;
}
.home-img img {
  position: relative;
  z-index: 5;
}
/* header social */
.header-social {
  position: absolute;
  bottom: 30px;
  left: 15px;
  width: 100%;
}
.header-social .header-social-icon {
  position: relative;
}
.header-social .header-social-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  left: -102.5%;
  top: 50%;
  transform: translateY(-50%);
}
.header-social .header-social-icon ul li {
  display: inline-block;
  margin-left: 13px;
}
.header-social .header-social-icon ul li:first-child {
  margin-left: 0;
}
.header-social .header-social-icon ul li a {
  color: #ccc;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.3s ease-out 0s;
}
.header-social .header-social-icon ul li a:hover {
  color: var(--white);
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.about-content .about-title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 15px;
}
.about-content .about-title span {
  color: var(--main-color);
}
.about-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--black-400);
  margin: 0px;
}
.about-content ul {
  padding-top: 15px;
}
.about-content ul li {
  width: 50%;
  float: left;
  margin-top: 5px;
}
.about-content .single-info .info-icon {
  width: 18px;
  text-align: center;
}
.about-content .single-info .info-icon i {
  font-size: 16px;
  display: inline-block;
  color: var(--main-color);
}
.about-content .single-info .info-text {
  padding-left: 15px;
}
.about-content .single-info .info-text p span {
  color: var(--black-900);
  font-weight: 500;
}
.hire-me {
  background-color: var(--main-color);
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  color: var(--white);
  font-size: 16px;
  text-transform: capitalize;
  display: inline-block;
  box-shadow: var(--shadow-black-300);
  font-weight: 500;
  transition: all 0.5s ease;
}
.hire-me:hover {
  background-color: var(--white);
  color: var(--main-color);
}
#skill-bar-wrapper {
  margin-top: 30px;
}
.text-left h4 {
  font-size: 16px;
  padding-top: 15px;
  font-weight: 600;
}
.skillbar-container {
  position: relative;
  display: block;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(187, 23, 23, 0.1);
  height: 5px;
}
.skills {
  height: 6px;
  width: 0px;
  background-color: var(--main-color);
}
